@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  padding: 10px 0;
  background: #000;
}

.menu-nav {
  flex: 1;
  margin: 0 10px;
  align-self: center;
}

.menu-nav ul {
  float: right;
  display: flex;
}

.menu-nav li {
  margin-left: 20px;
}

.menu-nav a {
  color: white;
  text-transform: uppercase;
}

.menu-nav a:hover {
  color: #FEBC59;
}

.intro {
  width: 100%;
  height: 600px;
  background-image: url('../img/bg-intro.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p {
  max-width: 700px;
  font-size: 1.4em;
  text-align: center;
  color: #fff;
}

.titulo-secao {
  width: 100%;
  background: #000;
  padding: 5px 0;
  text-align: center;
}

.titulo-secao h2 {
  color: #FEBC59
}

.titulo-secao h2::after,
.titulo-secao h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  margin: 20px auto;
  text-align: center;
  background: #FEBC59;
}

.historia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  gap: 50px;
}

.historia p {
  font-size: 1em;
  max-width: 600px;
  font-weight: 400;
  line-height: calc(1em*2);
}

.plano {
  width: 100%;
  background-color: #FEBC59;
}

.titulo-plano {
  color: #fff;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px 0;
}

.plano-conteudo {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.plano-conteudo:last-child {
  margin-bottom: 80px;
}

.separador::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.plano-conteudo li {
  color: #fff;
  font-size: 1em;
  line-height: calc(1em*2);
}

.contato-conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  gap: 80px;
}

.contato-conteudo h2 {
  font-size: 1.3em;
}

.contato-conteudo form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.contato-conteudo label {
  font-size: 1em;
  color: #424242;
}

.contato-conteudo label {
  margin-top: 20px;
}

.contato-conteudo input {
  width: 100%;
  height: 50px;
  border: none;
  flex-shrink: 0;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 1em;
  background-color: #D9D9D9;
  border-radius: 5px;
  color: #424242;
}

#mensagem {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0 0 15px;
  resize: none;
  font-size: 1em;
  background-color: #D9D9D9;
  border-radius: 5px;
  color: #424242;
  margin-top: 10px;
}

.contato-conteudo form button {
  max-width: 100%;
  height: 50px;
  border: none;
  margin-top: 40px;
  font-size: 1em;
  background: rgb(242, 255, 29);
  background: linear-gradient(90deg, rgba(242, 255, 29, 1) 0%, rgba(254, 188, 89, 1) 100%);
  border-radius: 5px;
  color: #424242;
}

.contato-conteudo button:hover {
  background: rgb(255, 205, 50);
  background: linear-gradient(90deg, rgba(255, 205, 50, 1) 0%, rgba(255, 153, 0, 1) 100%);
  cursor: pointer;
}

.redes-sociais {
  width: 100%;
}

.redes-sociais img {
  width: 60px;
  color: red;
  fill: red;
}

.redes-sociais img:hover {
  cursor: pointer;
  color: red;


}

.end {
  width: 100%;
  height: 300px;
  background-image: url('../img/img-end.png');
  background-size: cover;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer p {
  color: white;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    max-width: 300px;
  }

  .logo {
    margin: 0 auto;
  }

  .historia {
    flex-direction: column;
    margin-top: 20px;
  }

  .historia p {
    font-size: 0.9em;
  }

  .historia img {
    width: 300px;
  }


  .plano-conteudo {
    flex-direction: column;
    row-gap: 10px;
  }

  .separador::before {
    display: none;
  }

  .titulo-plano:not(:first-child)::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 0;
  }

  .plano-conteudo li {
    color: #fff;
    font-size: 1em;
    line-height: calc(1em*2);
  }

  .contato-conteudo {
    flex-direction: column;
    gap: 20px;

  }

  .contato-conteudo form {
    width: 300px;
  }
}